<table class="table table-responsive mb-4" width="100%" id="{{ table_id }}">
    <thead class="thead-light">
        <tr>
            <th class="text-center" >{{ table_title }}</th>
        </tr>
    </thead>
    {% for task_week in tasks%}
    {% with task = task_week.task, status = task_week.status.name %}
    <tbody>
        <tr class="task-content">
            <td>
                <table width="100%">
                    <tr>
                        <td width="20%">Id: {{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td width="20%">{{ task.outlet.name }}</td>
                        <td class="text-center" width="10%">Status</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ to_timezone(task.start_date, to_timezone=session['timezone']).strftime('%d/%m/%Y') }} - {{ to_timezone(task.end_date, to_timezone=session['timezone']).strftime('%d/%m/%Y') }}</td>
                        <td>{{ task.repeat_count }} time(s) left</td>
                        <td class="text-center" >{{ status }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
    {% endwith %}
    {% endfor %}
</table>